{% extends "base.html" %}

{% block new_content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form>

    {% if class_name %}
        <h3>Successfully uploaded!</h3>
        <p>There is a probability of {{ probability }}% that you uploaded a picture from the category "{{ class_name }}".</p>
        <p>The model took {{ elapsed }} seconds to execute and weights {{ model_size }} bytes.</p>
    {% endif %}
{% endblock %}