{% extends "base.html" %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary btn-block">Upload</button>
    </form>

    {% if class_name %}
        <div class="alert alert-success">
            <h3>Successfully uploaded!</h3>
            <p>There is a probability of <strong>{{ probability }}%</strong> that you uploaded a picture from the category "<strong>{{ class_name }}"</strong>.</p>
            <p>The model took <strong>{{ elapsed }} seconds</strong> to execute and weights <strong>{{ model_size }} bytes</strong>.</p>
        </div>
    {% endif %}
{% endblock %}